# Environment configuration example file

# OPC UA configuration
vPLC_Runtime=wsl
OPCUA_URL=opc.tcp://host.docker.internal:4840
OPCUA_USER=
OPCUA_PASSWORD=

# PostgreSQL configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=data_base

# N8N configuration
N8N_PORT=5678
GENERIC_TIMEZONE=Europe/Oslo

# OpenAI API Key(s)
OPENAI_API_KEY=
# For multiple accounts, add: OPENAI_API_KEY_2=

# Chats UI configuration
CHAT_UI_PORT=8083
